{% extends 'base/base.html' %}
{% block title %}Продукты{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Детали продукта</h1>
    <p class="lead">Просмотр информации о продукте</p>
</div>
{% load picture_tags %}
<div class="container">
    {{product}}
    <main>
        <div class="container py-4">
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                   <img src="{{product.picture|media_filter}}">
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{product.name}}</li>
                        <li>- {{product.description|truncatechars:100}}</li>
                        <li>- {{product.category}}</li>
                        <li>- {{product.price}} руб </li>
                        <li>- {{product.created_at|date:"d M Y"}}</li>
                        <li>- {{product.updated_at|date:"d M Y"}}</li>
                    </ul>
                </div>
            </div>
            <a href="/product_confirm_delete/{{product.pk}}" class="card-link">Удалить</a>
            <a href="/product_update/{{product.pk}}" class="card-link">Редактировать</a>
            <footer class="pt-3 mt-4 text-body-secondary border-top">
                © 2025
            </footer>
        </div>
    </main>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                SkyStore
                <small class="d-block mb-3 text-muted">&copy; 2023</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}